.education-section:last-child{
    border-color: hotpink;
}
.education-section h2::after{
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: blue;
    border-radius: 10px;
    margin-top: 7px;
}