.experiences-section h2{
    padding-bottom: 5px;
}
.experiences-section h2::after{
    content: "";
    display: block;
    width: 150px;
    height: 4px;
    background-color: blue;
    border-radius: 10px;
    margin-top: 7px;
}
.experiences-section{
    margin-top: 5px;
}