.App {
  background-color: #007CED;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  padding: 4% 6%;
  margin: 0%;
}
section{
  padding: 15px;
}
@media only screen and (max-width: 910px){
  .App{
    padding: 0% !important;
  }
}